.videoContainer {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-content: center;
    background-color: #FCBA5A; /* Fundo laranja */
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.videoBox {
    grid-column: 3 / 11; /* Ajustado para melhor centralização */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

.playerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo se ajuste sem tarjas pretas */
    cursor: pointer;
}

.formaLinha1, .formaLinha2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.formaLinha1 {
    left: 0;
}

.formaLinha2 {
    right: 0;
}

@media (max-width: 768px) {
    .videoBox {
        grid-column: 2 / 12;
    }

    .video {
        width: 100%;
        height: 100%;
    }

    .formaLinha1, .formaLinha2 {
        display: none;
    }
}

@media (max-width: 576px) {
    .videoContainer {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .videoBox {
        grid-column: 1;
    }

    .video {
        width: 100%;
        height: 100%;
    }
}
