/* Estilos para telas grandes */
@media (min-width: 1200px) {
  .questionarioContainer{
    grid-column: 1 / 13;
    display: grid;    
    height: auto;    
    grid-template-columns: repeat(12, 1fr);
    background-color: #6F2282;
    /* border: 2px solid rgb(249, 0, 0); */
  }

  .questionarioContent {
    grid-column: 4 / 10;
    /* border:1px solid black; */
    padding: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin: 3.1rem 0;
  }

  .headerTitle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 30px;
    border-top: .25rem solid #eee;
  }

  .title {
    font-size: 2rem;
    text-transform: uppercase;
    color: #eee;
  }

  .subtitle {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
    color: #eee;
  }

  .flagBox {
    width: 12.5rem;
    height: auto;
    display: flex;
    justify-content: end;
    align-content: center;
    border-top: .25rem solid #FCBA5A;
  }

  .flag {
    display: flex;
    width: 6.25rem;
    justify-content: center;
    background-color: #FCBA5A;
  }

  .flagBox img {
    background-color: #FCBA5A;
    width: 3.12rem;
  }

  .questionario {
    grid-column: 4 / 10;
    grid-row: 3;
    color: #eee;
  }

  .question {
    background-color: aliceblue;
  }

  .question p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
  }

  .question span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #FCBA5A;
  }

  .questionario p>span {
    color: #FCBA5A;
  }

  .boxImages {
    display: flex;
    background-color: #eee;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .boxImages img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }

  .boxImages span {
    display: block;
    text-align: center;
    margin-top: .2rem;
  }

  .quiz_container {
    grid-column: 4 / 10;
    justify-content: start;
    align-content: start;
  }

  .question_section {
    margin: 2rem 0;
  }

  .question_text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

  .answer_section {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }

  .answer_section button {
    align-self: center;
    width: 17.9rem;
    height: 3.5rem;
    font-style: italic;
    color: #6F2282;
    border: none;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
  }

  .selected {
    font-weight: bold;
  }

  .submit_button {
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="radio"]:checked {
    color: #6F2282;
    background-color: #6F2282;
  }

  .radio_label.correct {
    background-color: green;
  }

  .radio_label.wrong {
    background-color: red;
  }
}
/* Estilos para telas médias */
@media (max-width: 1200px) and (min-width: 992px) {
  .questionarioContent {
    grid-column: 1 / 13;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    height: 62rem;
    background-color: #6F2282;
    padding-bottom: 30rem;
  }

  .headerContent {
    grid-column: 4 / 10;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin: 2rem 0;
  }

  .headerTitle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 20px;
    border-top: .25rem solid #eee;
  }

  .title {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #eee;
  }

  .subtitle {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
    color: #eee;
  }

  .flagBox {
    width: 10rem;
    height: auto;
    display: flex;
    justify-content: end;
    align-content: center;
    border-top: .25rem solid #FCBA5A;
  }

  .flag {
    display: flex;
    width: 5rem;
    justify-content: center;
    background-color: #FCBA5A;
  }

  .flagBox img {
    background-color: #FCBA5A;
    width: 2.5rem;
  }

  .questionario {
    grid-column: 4 / 10;
    grid-row: 3;
    color: #eee;
  }

  .question p {
    font-weight: 300;
  }

  .question span {
    font-weight: 300;
    color: #FCBA5A;
  }

  .boxImages {
    display: flex;
    gap: 1rem;
  }

  .boxImages img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }

  .boxImages span {
    display: block;
    text-align: center;
    margin-top: .2rem;
  }

  .quiz_container {
    grid-column: 4 / 10;
    justify-content: start;
    align-content: start;
  }

  .question_section {
    margin: 2rem 0;
  }

  .question_text {
    font-size: 0.9rem;
  }
  .answer_section {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }

  .answer_section button {
    align-self: center;
    width: 17.9rem;
    height: 3.5rem;
    font-style: italic;
    color: #6F2282;
    border: none;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
  }

  .selected {
    font-weight: bold;
  }

  .submit_button {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    align-self: center;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="radio"]:checked {
    color: #6F2282;
    background-color: #6F2282;
  }

  .radio_label.correct {
    background-color: green;
  }

  .radio_label.wrong {
    background-color: red;
  }
}
/* Estilos para telas pequenas */
@media (max-width: 992px) and (min-width: 768px) {
  .questionarioContent {
    grid-column: 1 / 13;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    background-color: #6F2282;
    padding: 1rem;
  }

  .headerContent {
    grid-column: 2 / 12;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin: 2rem 0;
  }

  .headerTitle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 20px;
    border-top: .25rem solid #eee;
  }

  .title {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #eee;
  }

  .subtitle {
    font-size: 1rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
    color: #eee;
  }

  .flagBox {
    width: 8rem;
    display: flex;
    justify-content: end;
    align-content: center;
    border-top: .25rem solid #FCBA5A;
  }

  .flag {
    display: flex;
    width: 4rem;
    justify-content: center;
    background-color: #FCBA5A;
  }

  .flagBox img {
    width: 2rem;
  }

  .questionario {
    grid-column: 2 / 12;
    color: #eee;
  }

  .question p {
    font-weight: 300;
  }

  .question span {
    font-weight: 300;
    color: #FCBA5A;
  }

  .boxImages {
    display: flex;
    gap: 1rem;
  }

  .boxImages img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }

  .boxImages span {
    display: block;
    text-align: center;
    margin-top: .2rem;
  }

  .quiz_container {
    grid-column: 2 / 12;
    justify-content: start;
    align-content: start;
  }

  .question_section {
    margin: 2rem 0;
  }

  .question_text {
    font-size: 0.9rem;
  }

  .answer_section {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }

  .answer_section button {
    align-self: center;
    width: 17.9rem;
    height: 3.5rem;
    font-style: italic;
    color: #6F2282;
    border: none;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
  }

  .selected {
    font-weight: bold;
  }

  .submit_button {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    align-self: center;
  }

  .modal {
    position: fixed;   
    width: 100%; /* Ajuste para telas menores */
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do modal */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  input[type="radio"]:checked {
    color: #6F2282;
    background-color: #6F2282;
  }

  .radio_label.correct {
    background-color: green;
  }

  .radio_label.wrong {
    background-color: red;
  }
}
/* Estilos para tablets e smartphones grandes */
@media (max-width: 768px) and (min-width: 576px) {
  .questionarioContainer{
    grid-column: 1 / 13;
    display: grid;    
    height: auto;    
    grid-template-columns: repeat(12, 1fr);
    background-color: #6F2282;
    /* border: 2px solid rgb(249, 0, 0); */
  }
  .questionarioContainer{
    grid-column: 1 / 13;
    display: grid;    
    height: auto;    
    grid-template-columns: repeat(12, 1fr);
    background-color: #6F2282;
    /* border: 2px solid rgb(249, 0, 0); */
  }

  .questionarioContent {
    grid-column: 1 / 13;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    background-color: #6F2282;
    padding: 1rem;
  }

  .headerContent {
    grid-column: 2 / 12;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin: 2rem 0;
  }

  .headerTitle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 20px;
    border-top: .25rem solid #eee;
  }

  .title {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #eee;
  }

  .subtitle {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
    color: #eee;
  }

  .flagBox {
    width: 7rem;
    display: flex;
    justify-content: end;
    align-content: center;
    border-top: .25rem solid #FCBA5A;
  }

  .flag {
    display: flex;
    width: 3.5rem;
    justify-content: center;
    background-color: #FCBA5A;
  }

  .flagBox img {
    width: 1.75rem;
  }

  .questionario {
    grid-column: 2 / 12;
    color: #eee;
  }

  .question p {
    font-weight: 300;
  }

  .question span {
    font-weight: 300;
    color: #FCBA5A;
  }

  .boxImages {
    display: flex;
    gap: 0.8rem;
  }

  .boxImages img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }

  .boxImages span {
    display: block;
    text-align: center;
    margin-top: .2rem;
  }

  .quiz_container {
    grid-column: 2 / 12;
    justify-content: start;
    align-content: start;
  }

  .question_section {
    margin: 1.5rem 0;
  }

  .question_text {
    font-size: 0.8rem;
  }

  .answer_section {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }

  .answer_section button {
    align-self: center;
    width: 17.9rem;
    height: 3.5rem;
    font-style: italic;
    color: #6F2282;
    border: none;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
  }

  .selected {
    font-weight: bold;
  }

  .submit_button {
    margin-top: 20px;
    font-size: .9rem;
    padding: 0;
    cursor: pointer;
    align-self: center;
  }

  .modal {
    position: fixed;
    width: 100%; /* Ajuste para telas menores */
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal img {
    max-width:90%; /* Garante que a imagem não ultrapasse a largura do modal */
    height: auto; /* Mantém a proporção da imagem */
  }

  input[type="radio"]:checked {
    color: #6F2282;
    background-color: #6F2282;
  }

  .radio_label.correct {
    background-color: green;
  }

  .radio_label.wrong {
    background-color: red;
  }
}
/* Estilos para smartphones pequenos */
@media (max-width: 576px) {
  .questionarioContainer{
    grid-column: 1 / 13;
    display: grid;    
    height: auto;    
    grid-template-columns: repeat(12, 1fr);
    background-color: #6F2282;
    /* border: 2px solid rgb(249, 0, 0); */
  }

  .questionarioContent {
    grid-column: 1 / 13;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    background-color: #6F2282;
    padding: 1rem;
  }

  .headerContent {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
  }

  .headerTitle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    border-top: .25rem solid #eee;
    text-align: center;
  }

  .title {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #eee;
  }

  .subtitle {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
    color: #eee;
  }

  .flagBox {
    display: none;
    /* width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: .25rem solid #FCBA5A; */
  }

  .flag {
    display: none;
    width: 3rem;
    justify-content: center;
    background-color: #FCBA5A;
  }

  .flagBox img {
    width: 1.5rem;
  }

  .questionario {
    grid-column: 1 / 13;
    color: #eee;
  }

  .question p {
    font-weight: 300;
  }

  .question span {
    font-weight: 300;
    color: #FCBA5A;
  }

  .boxImages {
    display: flex;
    gap: 0.5rem;
  }

  .boxImages img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }

  .boxImages span {
    display: block;
    text-align: center;
    margin-top: .2rem;
  }

  .quiz_container {
    grid-column: 1 / 13;
    justify-content: start;
    align-content: start;
  }

  .question_section {
    margin: 1rem 0;
  }

  .question_text {
    font-size: 0.75rem;
  }

  .answer_section {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }

  .answer_section button {
    align-self: center;
    width: 17.9rem;
    height: 3.5rem;
    font-style: italic;
    color: #6F2282;
    border: none;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
  }

  .selected {
    font-weight: bold;
  }

  .submit_button {
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    align-self: center;
  }

  .modal {
    position: fixed;
    width: 100%; /* Ajuste para telas menores */
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do modal */
    height: auto; /* Mantém a proporção da imagem */
  }
  input[type="radio"]:checked {
    color: #6F2282;
    background-color: #6F2282;
  }

  .radio_label.correct {
    background-color: green;
  }

  .radio_label.wrong {
    background-color: red;
  }
}