/* Estilos para telas grandes */
@media (min-width: 1200px) {
    .sanfonaContainer {
        grid-column: 1 / 13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-content: flex-start;
        padding: 2rem;
    }

    .sanfonaContent {
        grid-column: 4 / 10;
        background-color: #6F2282;
        margin-bottom: 1rem;
        transition: all 0.3s ease;
    }

    .boxSanfona {
        grid-column: 4 / 10;
        background-color: #eee;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .title {
        margin-left: 0.5rem;
    }

    .colapse {
        background: none;
        border: none;
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    .colapse.expanded {
        transform: rotate(0);
    }

    .headerSanfona {
        grid-column: 4 / 10;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: .2rem; */
        background-color: #6F2282;
        cursor: pointer;
        line-height: 1.5;
    }

    .bodySanfona {
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 0 1.8rem;
        transition: opacity 0.3s ease, max-height 0.3s ease;
        opacity: 0;
        max-height: 0;
    }

    .bodySanfona.expanded {
        opacity: 1;
        max-height: 1000px; /* Define um valor grande para permitir a expansão */
    }
}

/* Estilos para telas médias */
@media (max-width: 1200px) and (min-width: 992px) {
    .sanfonaContainer {
        grid-column: 1 / 13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-content: flex-start;
        padding: 2rem;
    }

    .sanfonaContent {
        grid-column: 4 / 10;
        background-color: #6F2282;
        margin-bottom: 1rem;
        transition: all 0.3s ease;
    }

    .boxSanfona {
        grid-column: 4 / 10;
        background-color: #eee;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .title {
        margin-left: 0.5rem;
    }

    .colapse {
        background: none;
        border: none;
        transform: rotate(0);
        transition: transform 0.3s ease;
    }

    .colapse.expanded {
        transform: rotate(180deg);
    }

    .headerSanfona {
        grid-column: 4 / 10;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #6F2282;
        cursor: pointer;
        line-height: 1.5;
    }

    .bodySanfona {
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 0 1.8rem;
        transition: opacity 0.3s ease, max-height 0.3s ease;
        opacity: 0;
        max-height: 0;
    }

    .bodySanfona.expanded {
        opacity: 1;
        max-height: 1000px;
    }
}

/* Estilos para telas pequenas */
@media (max-width: 992px) and (min-width: 768px) {
    .sanfonaContainer {
        grid-column: 1 / 13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-content: flex-start;
        padding: 2rem;
    }

    .sanfonaContent {
        grid-column: 4 / 10;
        background-color: #6F2282;
        margin-bottom: 1rem;
        transition: all 0.3s ease;
    }

    .boxSanfona {
        grid-column: 4 / 10;
        background-color: #eee;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .title {
        margin-left: 0.5rem;
    }

    .colapse {
        background: none;
        border: none;
        transform: rotate(0);
        transition: transform 0.3s ease;
    }

    .colapse.expanded {
        transform: rotate(180deg);
    }

    .headerSanfona {
        grid-column: 4 / 10;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #6F2282;
        cursor: pointer;
        line-height: 1.5;
    }

    .bodySanfona {
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 0 1.8rem;
        transition: opacity 0.3s ease, max-height 0.3s ease;
        opacity: 0;
        max-height: 0;
    }

    .bodySanfona.expanded {
        opacity: 1;
        max-height: 1000px;
    }
}

/* Estilos para telas menores */
@media (max-width: 768px) and (min-width: 576px) {
    .sanfonaContainer {
        grid-column: 1 / 13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-content: flex-start;
        padding: 2rem;
    }

    .sanfonaContent {
        grid-column: 2 / 12;
        background-color: #6F2282;
        margin-bottom: 1rem;
        transition: all 0.3s ease;
    }

    .boxSanfona {
        grid-column: 2 / 12;
        background-color: #eee;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .title {
        margin-left: 0.5rem;
    }

    .colapse {
        background: none;
        border: none;
        transform: rotate(0);
        transition: transform 0.3s ease;
    }

    .colapse.expanded {
        transform: rotate(180deg);
    }

    .headerSanfona {
        grid-column: 2 / 12;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #6F2282;
        cursor: pointer;
        line-height: 1.5;
    }

    .bodySanfona {
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 0 1.8rem;
        transition: opacity 0.3s ease, max-height 0.3s ease;
        opacity: 0;
        max-height: 0;
    }

    .bodySanfona.expanded {
        opacity: 1;
        max-height: 1000px;
    }
}

/* Estilos para telas extra pequenas */
@media (max-width: 576px) {
    .sanfonaContainer {
        grid-column: 1 / 13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-content: flex-start;
        padding: 2rem;
    }

    .sanfonaContent {
        grid-column: 1 / 13;
        background-color: #6F2282;
        margin-bottom: 1rem;
        transition: all 0.3s ease;
    }

    .boxSanfona {
        grid-column: 1 / 13;
        background-color: #eee;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .title {
        margin-left: 0.5rem;
    }

    .colapse {
        background: none;
        border: none;
        transform: rotate(0);
        transition: transform 0.3s ease;
    }

    .colapse.expanded {
        transform: rotate(180deg);
    }

    .headerSanfona {
        grid-column: 1 / 13;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #6F2282;
        cursor: pointer;
        line-height: 1.5;
    }

    .bodySanfona {
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 0 1.8rem;
        transition: opacity 0.3s ease, max-height 0.3s ease;
        opacity: 0;
        max-height: 0;
    }

    .bodySanfona.expanded {
        opacity: 1;
        max-height: 1000px;
    }
}
