@media (min-width: 1200px) {
    .header {
        font-family: 'Roboto Condensed', sans-serif;
        grid-column: 1 / 13; 
        flex-direction: column; 
        display: grid;             
        width: 100%;
        height: auto;
        background-image: url('../../assets/BannerHeader.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        margin-top: 0;
    }

    .box01{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;       
    }
    
    .img_linha{ 
        width: 20rem;    
        height: 5rem;
        object-fit: contain;
    }

    .borda_laranja{
        width: auto;    
        height: 5rem;
    }

    .box02{
        display: flex;
        align-items: end;
        width: 100%;
        height: 80px;    
    }

    .borda_branca{       
        height: 5rem;
    }

     .box_title { 
        display: flex;   
        align-content: center;  
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 300px; 
        font-size: 3rem;         
        color: #6F2282;     
    }

    .title{
      text-align: left;
      width: 30rem;
      padding-left: 6rem;  
      font-weight: 300; 
      text-transform: uppercase;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .header {
        font-family: 'Roboto Condensed', sans-serif;
        grid-column: 1 /13;
        width: 100%;
        height: auto;
        background-image: url('../../assets/BannerHeader.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;

        .box01{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100px;       
        }
        
        .img_linha{ 
            width: 20rem;    
            height: 5rem;
            object-fit: contain;
        }
    
        .borda_laranja{
            width: auto;    
            height: 5rem;
        }
    
        .box02{
            display: flex;
            align-items: end;
            width: 100%;
            height: 80px;    
        }
    
        .borda_branca{       
            height: 5rem;
        }
    
         .box_title { 
            display: flex;   
            align-content: center;  
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 300px; 
            font-size: 3rem;
            color: #6F2282;     
        }
    
        .title{
            text-align: left;
            width: 30rem;
            padding-left: 6rem;  
            font-weight: 300; 
            text-transform: uppercase;
        }

    }
}


@media (max-width: 992px) and (min-width: 768px) {
    .header {
        font-family: 'Roboto Condensed', sans-serif;
        grid-column: 1 / 13;
        width: 100%;
        height: auto;
        background-image: url('../../assets/BannerHeader.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;

        .box01{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100px;       
        }
        
        .img_linha{ 
            width: 20rem;    
            height: 5rem;
            object-fit: contain;
        }
    
        .borda_laranja{
            width: auto;    
            height: 5rem;
        }
    
        .box02{
            display: flex;
            align-items: end;
            width: 100%;
            height: 80px;    
        }
    
        .borda_branca{       
            height: 5rem;
        }
    
         .box_title { 
            display: flex;   
            align-content: center;  
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 300px; 
            font-size: 3rem;  
            color: #6F2282;     
        }
    
        .title{
            text-align: left;
            width: 30rem;
            padding-left: 6rem;  
            font-weight: 300; 
            text-transform: uppercase;
        }

    }
}


@media (max-width: 768px) and (min-width: 576px) {
    .header {
        font-family: 'Roboto Condensed', sans-serif;
        grid-column: 1 / 13;
        width: 100%;
        height:auto;
        background-image: url('../../assets/BannerHeader.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .box01{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;       
    }
    
    .img_linha{ 
        width: 15rem;    
        height: 4rem;
        object-fit: cover;
        object-position: top;
    }

    .borda_laranja{
        width: auto;    
        height: 5rem;
    }
    .box02{
        display: flex;
        align-items: end;
        width: 100%;
        height: 80px;    
    }

    .borda_branca{       
        height: 5rem;
    }

     .box_title { 
        display: flex;   
        align-content: center;  
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 300px; 
        font-size: 3rem;  
        color: #6F2282;     
    }

    .title{
        text-align: left;
        width: 20rem;
        padding-left: 3rem;  
        font-weight: 300; 
        text-transform: uppercase;
    }

}


@media (max-width: 576px) and (min-width: 320px) {
    .header {
        font-family: 'Roboto Condensed', sans-serif;
        grid-column: 1/13;
        width: 100%;
        height: 620px;
        background-image: url('../../assets/BannerHeader.svg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .box01{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;       
    }
    
    .img_linha{ 
        width: 16rem;    
        height: 4rem;
        object-fit: contain;
    }

    .borda_laranja{
        width: auto;    
        height: 5rem;
    }

    .box02{
        display: flex;
        align-items: end;
        width: 100%;
        height: 80px;    
    }

    .borda_branca{       
        height: 5rem;
    }

     .box_title { 
        display: flex;   
        align-content: center;  
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 27.5rem; 
        font-size: 3rem;  
        color: #6F2282;   
    }

    .title{
        text-align: left;
        width: 20rem;
        padding-left: 2.5rem;  
        font-weight: 300; 
        text-transform: uppercase; 
    }
}

