.audioplayer {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 32rem;
    height: 3.1rem;
}

.Boxtimebar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    flex: 1;
    background-color: #c32fe410;
}


.playbutton{
    background: none;
    border: none;
}

.iconVol{
    justify-self: end;
    /* width: 5rem; */
    height: 1.25rem;
    margin: 0 .50rem 0 .50rem;
}

.progressAudio{   
    margin-right: .75rem;
}

.progressAudio input[type="range"]{
    align-self: center;
    background-color: #00000080;
    height: 0.25rem;
    width: 6rem;
}

.timebar input[type="range"]{
    align-self: center;
    background-color: #00000080;
    height: 0.25rem;
}

.timebar{
    align-items: center;
    flex: 1; 
    margin: 10px;
}

.textFormat{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    margin: .25rem;
    color:#6F2282 ;
}

input[type="range"] {
    -webkit-appearance: none;  /* Remove a aparência padrão */
    width: 100%;               /* Largura completa para fácil visualização */
    height: 8px;               /* Altura do slider */
    background: #ffffff;        /* Cor de fundo da trilha */
    outline: none;             /* Remove o outline ao focar */
    opacity: 0.7;              /* Opacidade para um look mais suave */
    transition: opacity .2s;   /* Transição suave para hover */
}

input[type="range"]:hover {
    opacity: 1;  /* Opacidade total quando mouse está por cima */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Necessário para remover qualquer estilo padrão */
    appearance: none;
    width: .75rem;  /* Largura do thumb */
    height: .75rem; /* Altura do thumb */
    background: #ffffff; /* Cor de fundo do thumb */
    cursor: pointer; /* Cursor em forma de ponteiro */
    border-radius: 50%; /* Borda arredondada */
}

input[type="range"]::-moz-range-thumb {
    width: .75rem;
    height: .75rem;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}


