/* Estilos para telas grandes */
@media (min-width: 1200px) {
    .videoContainer {
        grid-column: 1 / 13;
    }

    .videoComponent {
        grid-column: 1 / 13;
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto auto;
        justify-content: center;
        background-color: #FCBA5A;
        border-top-left-radius: 6.25em;
    }

    .formaLinha {
        grid-row: 2;
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
    }

    .playerContent {
        flex: 2 1 100%;
        grid-column: 4 / 10;
        grid-row: 2 / 4;
    }

    .playerHeader {
        grid-column: 4 / 10;
        grid-row: 1;
        display: flex;
        margin: 2rem 0;
        height: auto;
        
    }

    .playerHeader img {
        align-self: flex-start;
        height: auto;
    }

    .playerTitle {
        flex: 1 1 auto;
        display: flex;
        padding: 0.625em;
        flex-direction: column;
        text-align: left;
        border-top: 0.2em solid #eee;        
        color: #6F2282;
        font-weight: 500;   
    }

    .playerTitle span {
        
        font-weight: 600;
        text-transform: uppercase;
    }

    .playerTitle p {
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
        font-weight: 400;
        font-size: 0.9em;
    }

    .playerVideo {
        grid-column: 4 / 10;
        grid-row: 2;
        height: 0;
        padding-top: 56.25%; /* Aspect ratio 16:9 */
        position: relative;
    }

    .playerVideo iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .playerContent {
        display: block;
        flex-direction: column;
    }

    .videoFooter {
        display: flex;
        
        align-content: flex-start;
        font-size: 0.75em;
    }

    .videoFooter p {
        margin: 0 auto;
        display: block;
        height: auto;
        text-align: start;
    }

    .borda {
        grid-column: 1;
        grid-row: 1;
    }
}

/* Estilos para telas médias */
@media (max-width: 1200px) and (min-width: 992px) {
    .videoContainer {
        grid-column: 1 / 13;
    }

    .videoComponent {
        grid-column: 1 / 13;
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto auto;
        justify-content: center;
        background-color: #FCBA5A;
        border-top-left-radius: 6.25em;
    }

    .formaLinha {
        grid-row: 2;
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
    }

    .playerContent {
        flex: 2 1 100%;
        grid-column: 4 / 10;
        grid-row: 2 / 4;
    }

    .playerHeader {
        grid-column: 4 / 10;
        grid-row: 1;
        display: flex;
        margin: 2rem 0;
        height: auto;
        
    }

    .playerHeader img {
        height: auto;align-self: flex-start;
    }

    .playerTitle {
        flex: 1 1 auto;
        display: flex;
        padding: 0.625em;
        flex-direction: column;
       
        text-align: left;
        border-top: 0.2em solid #eee;        
        color: #6F2282;
        font-weight: 500;   
    }

    .playerTitle span {
        
        font-weight: 600;
        text-transform: uppercase;
    }

    .playerTitle p {
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
        font-weight: 400;
        font-size: 0.9em;
    }

    .playerVideo {
        grid-column: 4 / 10;
        grid-row: 2;
        height: 0;
        padding-top: 56.25%; /* Aspect ratio 16:9 */
        position: relative;
    }

    .playerVideo iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .playerContent {
        display: block;
        flex-direction: column;
    }

    .videoFooter {
        display: flex;
        
        align-content: flex-start;
        font-size: 0.75em;
    }

    .videoFooter p {
        margin: 0 auto;
        display: block;
        height: auto;
        text-align: start;
    }

    .borda {
        grid-column: 1;
        grid-row: 1;
    }
}

/* Estilos para telas pequenas */
@media (max-width: 992px) and (min-width: 768px) {
    .videoContainer {
        grid-column: 1 / 13;
    }

    .videoComponent {
        grid-column: 1 / 13;
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto auto;
        justify-content: center;
        background-color: #FCBA5A;
        border-top-left-radius: 6.25em;
        padding-bottom: 1rem;
    }

    .formaLinha {
        grid-row: 2;
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
    }

    .playerContent {
        flex: 2 1 100%;
        grid-column: 2 / 12;
        grid-row: 2 / 4;
    }

    .playerHeader {
        grid-column: 2 / 12;
        grid-row: 1;
        display: flex;
        margin: 2rem 0;
        height: auto;
        
    }

    .playerHeader img {
        height: auto;align-self: flex-start;
    }

    .playerTitle {
        flex: 1 1 auto;
        display: flex;
        padding: 0.625em;
        flex-direction: column;
       
        text-align: left;
        border-top: 0.2em solid #eee;        
        color: #6F2282;
        font-weight: 500;   
    }

    .playerTitle span {
        
        font-weight: 600;
        text-transform: uppercase;
    }

    .playerTitle p {
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
        font-weight: 400;
        font-size: 0.9em;
    }

    .playerVideo {
        grid-column: 2 / 12;
        grid-row: 2;
        height: 0;
        padding-top: 56.25%; /* Aspect ratio 16:9 */
        position: relative;
    }

    .playerVideo iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .playerContent {
        display: block;
        flex-direction: column;
    }

    .videoFooter {
        display: flex;
        
        align-content: flex-start;
        font-size: 0.75em;
    }

    .videoFooter p {
        margin: 0 auto;
        display: block;
        height: auto;
        text-align: start;
    }

    .borda {
        grid-column: 2 / 12;
        grid-row: 1;
    }
}

/* Estilos para tablets e smartphones */
@media (max-width: 768px) and (min-width: 576px) {
    .videoContainer {
        grid-column: 1 / 13;
        margin-bottom: 1rem;
    }

    .videoComponent {
        grid-column: 1 / 13;
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto auto;
        justify-content: center;
        background-color: #FCBA5A;
        border-top-left-radius: 6.25em;
        padding-bottom: 1rem;
    }

    .formaLinha {
        display: none;
        grid-row: 2;
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
    }

    .playerContent {
        flex: 2 1 100%;
        grid-column: 2 / 12;
        grid-row: 2 / 4;
    }

    .playerHeader {
        grid-column: 2 / 12;
        grid-row: 1;
        display: flex;
        margin: 2rem 0;
        height: auto;
        
    }

    .playerHeader img {
        height: auto;align-self: flex-start;
    }

    .playerTitle {
        flex: 1 1 auto;
        display: flex;
        padding: 0.625em;
        flex-direction: column;
       
        text-align: left;
        border-top: 0.2em solid #eee;        
        color: #6F2282;
        font-weight: 500;   
    }

    .playerTitle span {
        
        font-weight: 600;
        text-transform: uppercase;
    }

    .playerTitle p {
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
        font-weight: 400;
        font-size: 0.9em;
    }

    .playerVideo {
        grid-column: 2 / 12;
        grid-row: 2;
        height: 0;
        padding-top: 56.25%; /* Aspect ratio 16:9 */
        position: relative;
    }

    .playerVideo iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .playerContent {
        display: block;
        flex-direction: column;
    }

    .videoFooter {
        display: flex;
        
        align-content: flex-start;
        font-size: 0.75em;
    }

    .videoFooter p {
        margin: 0 auto;
        display: block;
        height: auto;
        text-align: start;
    }

    .borda {
        display: none;
        grid-column: 2 / 12;
        grid-row: 1;
    }
}

/* Estilos para smartphones */
@media (max-width: 576px) {
    .videoContainer {
        grid-column: 1 / 13;
    }

    .videoComponent {
        grid-column: 1 / 13;
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto auto;
        justify-content: center;
        background-color: #FCBA5A;
        border-top-left-radius: 6.25em;
        padding-bottom: 1rem;
    }

    .formaLinha {
        display: none;
        /* grid-row: 2;
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center; */
    }

    .playerContent {
        flex: 2 1 100%;
        grid-column: 1 / 13;
        grid-row: 2 / 4;
    }

    .playerHeader {
        grid-column: 1 / 13;
        grid-row: 1;
        display: flex;
        margin: 1rem 0;
        height: auto;
        
    }

    .playerHeader img {
        height: auto;
        align-self: flex-start;
    }

    .playerTitle {
        flex: 1 1 auto;
        display: flex;
        padding: 0.625em;
        flex-direction: column;
       
        text-align: left;
        border-top: .2em solid #eee;        
        color: #6F2282;
        font-weight: 500;   
    }

    .playerTitle span {
        
        font-weight: 600;
        text-transform: uppercase;
    }

    .playerTitle p {
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
        font-weight: 400;
        font-size: 0.9em;
    }

    .playerVideo {
        grid-column: 1 / 13;
        grid-row: 2;
        height: 0;
        padding-top: 66.25%; /* Aspect ratio 16:9 */
        position: relative;
    }

    .playerVideo iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .playerContent {
        display: block;
        flex-direction: column;
    }

    .videoFooter {
        display: flex;
        
        align-content: flex-start;
        font-size: 0.75em;
    }

    .videoFooter p {
        margin: 0 auto;
        display: block;
        height: auto;
        text-align: start;
    }

    .borda {
        display: none;
        grid-column: 1 / 13;
        grid-row: 1;
    }
}
