@font-face {
  font-family: 'Roboto';
  src: url('Fonts/static/RobotoCondensed-Thin.ttf');
  src: url('Fonts/static/RobotoCondensed-Bold.ttf');
  src: url('Fonts/static/RobotoCondensed-Light.ttf');
  src: url('Fonts/static/RobotoCondensed-Regular.ttf');
  src: url('Fonts/static/RobotoCondensed-ExtraLight.ttf');
  src: url('Fonts/static/RobotoCondensed-Thin.ttf');

}
.App{
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: repeat(12, 1fr); 
  font-family: 'Roboto', sans-serif;

}