/* src/components/Artigo.module.css */
.artigoBody{
  grid-column: 3 / 11;
  
}
.grid_container {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px; /* Espaço entre as colunas */
  }
  
  .grid_item {
    grid-column: span 6;
    box-sizing: border-box; /* Inclui padding e border na largura total */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .grid_item :nth-last-child(){
    background-color: aqua;
  }
  
  .center_item {
    justify-self: center;
  }
  
  .grid_item img {
    max-width: 100%;
    height: auto;
  }
  
  .grid_item a{
    text-decoration: none;
    color: #000;
  }
  
  .grid_item a:visited{
    text-decoration: none;
    color: #000;
  }
  
  @media (max-width: 768px) {
    .artigoBody{
      grid-column: 3 / 11;
      
    }
    .grid_container {
      grid-column: 2 / 11;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px; /* Espaço entre as colunas */
    }

    .grid_item {
      grid-column: span 12; /* 100% da largura em dispositivos móveis */
    }
    .grid_item a{
        text-decoration: none;
        color: #000;
      }
      
      .grid_item a:visited{
        text-decoration: none;
        color: #000;
      }
  }

  @media (max-width: 576px) and (min-width: 320px) {
    .artigoBody{
      grid-column: 3 / 11;
      
    }
    .grid_container {
      grid-column: 1 / 13;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin: 0 1rem;
       /* Espaço entre as colunas */
    }

    .grid_item {
      grid-column: span 12; /* 100% da largura em dispositivos móveis */
    }
    .grid_item a{
        text-decoration: none;
        color: #000;
      }
      
      .grid_item a:visited{
        text-decoration: none;
        color: #000;
      }
  }

  