/* src/components/Artigo.module.css */
.grid_container {
    grid-column: 3 /11;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px; /* Espaço entre as colunas */
  }
  
  .grid_item {
    grid-column: span 6;
    box-sizing: border-box; /* Inclui padding e border na largura total */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .grid_item :nth-last-child(){
    background-color: aqua;
  }
  
  .center_item {
    justify-self: center;
  }
  
  .grid_item img {
    max-width: 100%;
    height: auto;
  }

  .grid_item a{
    text-decoration: none;
    color: #000;
  }

  .grid_item a:visited{
    text-decoration: none;
    color: #000;
  }

  @media (max-width: 768px) {
    .grid_item {
      grid-column: span 12; /* 100% da largura em dispositivos móveis */
    }
    .grid_item a{
        text-decoration: none;
        color: #000;
      }
      
      .grid_item a:visited{
        text-decoration: none;
        color: #000;
      }
  }
  