.cardContainer {
    grid-column: 1/13;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 3rem;
}

.cardsBox {
    grid-column: 4 / 10;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-items: stretch;
    align-items: center;
}

.cardBox {
    height: 5.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; /* Text color */
    font-size: 2rem;
    text-align: center;
}

.cardContent {
    grid-column: 1 / 4;
    height: 6rem;
    margin: 0;
    text-align: center;
    color: #000000;
}


.ativo{
    background-color: #6F2282;
}