.CreditoContainer {
    grid-column: 3 / 11;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.coluna {
    flex: 1;
    padding: 1rem;
}

.credit_item {
    margin-bottom: 2rem;
}

.section_title {
    color: #eee;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.person_detail {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.person_cargo {
    color: #B0B0B0;
}

.titulo {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1rem;
    color: #FCBA5A;
}

/* Estilos para telas médias */
@media (max-width: 1200px) and (min-width: 992px) {
    .CreditoContainer {
        margin-top: 3rem;
    }
    
    .titulo {
        font-size: 1.8rem;
    }
}

/* Estilos para telas pequenas */
@media (max-width: 992px) and (min-width: 768px) {
    .CreditoContainer {
        margin-top: 2rem;
    }
    
    .titulo {
        font-size: 1.6rem;
    }
}

/* Estilos para tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) and (min-width: 576px) {
    .CreditoContainer {
        margin-top: 2rem;
    }
    
    .titulo {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .credit_item {
        padding: .5rem;
    }
}

/* Estilos para smartphones pequenos */
@media (max-width: 576px) {
    .CreditoContainer {
        margin-top: 2rem;
        padding: 0 1rem;
    }
    
    .titulo {
        font-size: 1.4rem;
        text-align: center;
    }
    
    .credit_item {
        padding: .5rem;
    }
    
    .person_detail {
        font-size: 1rem;
    }
}