/* Estilos para telas grandes */
@media (min-width: 1200px) {
    .boxContainer {
        font-family: 'Roboto Condensed', sans-serif;
        grid-column: 1 / 13;
        background-color: #555555;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 5rem;
        height: 20rem;
    }

    .containerflag {
        grid-column: 4 / 10;
        grid-row: 1 / 3;
        display: grid;
        height: auto;
        margin-top: 3rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: .2rem 6.25rem 8rem;
    }

    .introTxt {
        grid-column: 1 / 6;
        grid-row: 3 / 4;
        align-self: flex-start;
        color: white;
        text-indent: 40px;
        font-weight: 350;
    }

    .containerflag h1 {
        grid-column: 1 / 6;
        grid-row: 2;
        color: #eee;
        font-size: 2rem;
        font-weight: 400;
    }

    .boxflag {
        grid-column: 5 / 6;
        grid-row: 2;
        width: 6.25rem;
        height: 6.25rem;
        background-color: #FCBA5A;
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boxflag img {
        width: 3rem;
        height: 3rem;   
    }

    .containerflag p {
        grid-column: 1;
        grid-row: 2;
    }

    .lines {
        grid-column: 1 / 6;
        display: flex;
    }

    .lineWhite {
        width: 70%;
        height: 5px;
        background-color: #eee;
    }

    .lineOrange {
        width: 30%;
        height: 5px;
        background-color: #FCBA5A;
    }
}

/* Estilos para telas médias */
@media (max-width: 1200px) and (min-width: 992px) {
    .boxContainer {
        font-family: 'Roboto Condensed', sans-serif;
        grid-column: 1 / 13;
        background-color: #555555;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 5rem;
        height: 20rem;
    }

    .containerflag {
        grid-column: 4 / 10;
        grid-row: 1 / 3;
        display: grid;
        height: auto;
        margin-top: 3rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: .2rem 6.25rem 8rem;
    }

    .introTxt {
        grid-column: 1 / 6;
        grid-row: 3 / 4;
        align-self: flex-start;
        color: white;
        text-indent: 40px;
        font-weight: 350;
    }

    .containerflag h1 {
        grid-column: 1 / 6;
        grid-row: 2;
        color: #eee;
        font-size: 2rem;
        font-weight: 400;
    }

    .boxflag {
        grid-column: 5 / 6;
        grid-row: 2;
        width: 6.25rem;
        height: 6.25rem;
        background-color: #FCBA5A;
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boxflag img {
        width: 3rem;
        height: 3rem;   
    }

    .containerflag p {
        grid-column: 1;
        grid-row: 2;
    }

    .lines {
        grid-column: 1 / 6;
        display: flex;
    }

    .lineWhite {
        width: 70%;
        height: 5px;
        background-color: #eee;
    }

    .lineOrange {
        width: 30%;
        height: 5px;
        background-color: #FCBA5A;
    }
}

/* Estilos para telas pequenas */
@media (max-width: 992px) and (min-width: 768px) {
    .boxContainer {
        font-family: 'Roboto Condensed', sans-serif;
        grid-column: 1 / 13;
        background-color: #555555;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 5rem;
        height: 20rem;
    }

    .containerflag {
        grid-column: 4 / 10;
        grid-row: 1 / 3;
        display: grid;
        height: auto;
        margin-top: 3rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: .2rem 6.25rem 8rem;
    }

    .introTxt {
        grid-column: 1 / 6;
        grid-row: 3 / 4;
        align-self: flex-start;
        color: white;
        text-indent: 40px;
        font-weight: 350;
    }

    .containerflag h1 {
        grid-column: 1 / 6;
        grid-row: 2;
        color: #eee;
        font-size: 2rem;
        font-weight: 400;
    }

    .boxflag {
        grid-column: 5 / 6;
        grid-row: 2;
        width: 6.25rem;
        height: 6.25rem;
        background-color: #FCBA5A;
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boxflag img {
        width: 3rem;
        height: 3rem;   
    }

    .containerflag p {
        grid-column: 1;
        grid-row: 2;
    }

    .lines {
        grid-column: 1 / 6;
        display: flex;
    }

    .lineWhite {
        width: 70%;
        height: 5px;
        background-color: #eee;
    }

    .lineOrange {
        width: 30%;
        height: 5px;
        background-color: #FCBA5A;
    }
}

/* Estilos para telas menores */
@media (max-width: 768px) and (min-width: 576px) {
    .boxContainer {
        font-family: 'Roboto Condensed', sans-serif;
        grid-column: 1 / 13;
        background-color: #555555;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 5rem;
        height: 20rem;
    }

    .containerflag {
        grid-column: 4 / 10;
        grid-row: 1 / 3;
        display: grid;
        height: auto;
        margin-top: 3rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: .2rem 6.25rem 8rem;
    }

    .introTxt {
        grid-column: 1 / 6;
        grid-row: 3 / 4;
        align-self: flex-start;
        color: white;
        text-indent: 40px;
        font-weight: 350;
    }

    .containerflag h1 {
        grid-column: 1 / 6;
        grid-row: 2;
        color: #eee;
        font-size: 2rem;
        font-weight: 400;
    }

    .boxflag {
        grid-column: 5 / 6;
        grid-row: 2;
        width: 6.25rem;
        height: 6.25rem;
        background-color: #FCBA5A;
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boxflag img {
        width: 3rem;
        height: 3rem;   
    }

    .containerflag p {
        grid-column: 1;
        grid-row: 2;
    }

    .lines {
        grid-column: 1 / 6;
        display: flex;
    }

    .lineWhite {
        width: 70%;
        height: 5px;
        background-color: #eee;
    }

    .lineOrange {
        width: 30%;
        height: 5px;
        background-color: #FCBA5A;
    }
}

/* Estilos para telas extra pequenas */
@media (max-width: 576px) and (min-width: 320px) {
    .boxContainer {
        font-family: 'Roboto Condensed', sans-serif;
        grid-column: 1 / 13;
        background-color: #555555;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 5rem;
        height: 20rem;
    }

    .containerflag {
        grid-column: 4 / 10;
        grid-row: 1 / 3;
        display: grid;
        height: auto;
        margin-top: 3rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: .2rem 6.25rem 8rem;
    }

    .introTxt {
        grid-column: 1 / 6;
        grid-row: 3 / 4;
        align-self: flex-start;
        color: white;
        text-indent: 40px;
        font-weight: 350;
    }

    .containerflag h1 {
        grid-column: 1 / 6;
        grid-row: 2;
        color: #eee;
        font-size: 2rem;
        font-weight: 400;
    }

    .boxflag {
        grid-column: 5 / 6;
        grid-row: 2;
        width: 6.25rem;
        height: 6.25rem;
        background-color: #FCBA5A;
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boxflag img {
        width: 3rem;
        height: 3rem;   
    }

    .containerflag p {
        grid-column: 1;
        grid-row: 2;
    }

    .lines {
        grid-column: 1 / 6;
        display: flex;
    }

    .lineWhite {
        width: 70%;
        height: 5px;
        background-color: #eee;
    }

    .lineOrange {
        width: 30%;
        height: 5px;
        background-color: #FCBA5A;
    }
}
