/* Estilos para telas grandes */
@media (min-width: 1200px) {
    .ImagemArtigo {
        grid-column: 4 / 10;
        height: auto;
        display: grid;
        justify-items:end;
    }

    .ImagemArtigo img {    
        width: 100%;
        overflow: hidden;
    }
    .ImagemArtigo a{
        text-decoration: none;
        color: #000;
    }

    .titleImageBox p{
        
    }
}

/* Estilos para telas médias */
@media (max-width: 1200px) and (min-width: 992px) {
    .ImagemArtigo {
        grid-column: 3 / 11;
        height: auto;
        display: grid;
        justify-items:end;
    }

    .ImagemArtigo img {    
        width: 100%;
        overflow: hidden;
    }
    .ImagemArtigo a{
        text-decoration: none;
        color: #000;
    }
}

/* Estilos para telas pequenas */
@media (max-width: 992px) and (min-width: 768px) {
    .ImagemArtigo {
        grid-column: 2 / 12;
        height: auto;
        display: grid;
        justify-items:end;
    }

    .ImagemArtigo img {    
        width: 100%;
        overflow: hidden;
    }
    .ImagemArtigo a{
        text-decoration: none;
        color: #000;
    }
}

/* Estilos para tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) and (min-width: 576px) {
    .ImagemArtigo {
        grid-column: 1 / 13;
        height: auto;
        display: grid;
        justify-items:end;
    }

    .ImagemArtigo img {    
        width: 100%;
        overflow: hidden;
    }
    .ImagemArtigo a{
        text-decoration: none;
        color: #000;
    }
}

/* Estilos para smartphones pequenos */
@media (max-width: 576px) {
    .ImagemArtigo {
        grid-column: 1 / 13;
        height: auto;
        display: grid;
        justify-items:end;
    }

    .ImagemArtigo img {    
        width: 100%;
        overflow: hidden;
    }
    .ImagemArtigo a{
        text-decoration: none;
        color: #000;
    }
}
