.containerBoxImage {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
}
.containerBoxImage img{
    width: 100%;
    overflow: hidden;
}

.footer{
    display: flex;
    justify-content: end;
}

.fonte {
    height: 30px;
    margin-right: 10%;
}