.ReferenciaContainer {
    grid-column: 3 / 11;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.coluna {
    flex: 1;
    padding: 1rem;
    max-width: 50%; /* Limita a largura máxima das colunas a 50% */
}

.reference_item {
    margin-bottom: 2rem;
}

.reference_name {
    color: #eee;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.reference_text {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.reference_link {
    color: #B0B0B0;
    text-decoration: none;
    word-wrap: break-word; /* Quebra de linha para links longos */
}

.titulo {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1rem;
    color: #FCBA5A;
}

/* Estilos para telas médias */
@media (max-width: 1200px) and (min-width: 992px) {
    .ReferenciaContainer {
        margin-top: 3rem;
    }
    
    .titulo {
        font-size: 1.8rem;
    }
}

/* Estilos para telas pequenas */
@media (max-width: 992px) and (min-width: 768px) {
    .ReferenciaContainer {
        margin-top: 2rem;
    }
    
    .coluna {
        max-width: 100%; /* As colunas ocupam 100% da largura em telas pequenas */
    }
    
    .titulo {
        font-size: 1.6rem;
    }
}

/* Estilos para tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) and (min-width: 576px) {
    .ReferenciaContainer {
        margin-top: 2rem;
    }
    
    .coluna {
        max-width: 100%; /* As colunas ocupam 100% da largura em telas pequenas */
    }
    
    .titulo {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .reference_item {
        padding: .5rem;
    }
}

/* Estilos para smartphones pequenos */
@media (max-width: 576px) {
    .ReferenciaContainer {
        margin-top: 2rem;
        padding: 0 1rem;
    }
    
    .coluna {
        max-width: 100%; /* As colunas ocupam 100% da largura em telas pequenas */
    }
    
    .titulo {
        font-size: 1.4rem;
        text-align: center;
    }
    
    .reference_item {
        padding: .5rem;
    }
    
    .reference_name,
    .reference_text,
    .reference_link {
        font-size: 1rem;
    }
}