/* Estilos para telas grandes */
@media (min-width: 1200px) {
    .SectionBox {
        grid-column: 1 / 13;
        font-family: 'Roboto Condensed', sans-serif;
        height: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 3rem auto 3rem;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ), url('../../../assets/imgbanner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .titleImageBox {
        grid-column: 1 / 13;
        grid-row: 2 / 3;    
        justify-self: center;
        align-self: center;
        text-align: center;
        padding: 2rem;
    }

    .titleImageBox h1 {
        color: #eee;
        font-size: 4rem;
        font-weight: 300;
    }

    .baloonGray {
        grid-column: 1 / 13;
        grid-row: 1;
        justify-self: center;
    }

    .baloonPurple {
        grid-column: 1 / 13;
        grid-row: 3;
        justify-self: center;
    }
}

/* Estilos para telas médias */
@media (max-width: 1200px) and (min-width: 992px) {
    .SectionBox {
        grid-column: 1 / 13;
        font-family: 'Roboto Condensed', sans-serif;
        height: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 3rem auto 3rem;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ), url('../../../assets/imgbanner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }

    .titleImageBox {
        grid-column: 1 / 13;
        grid-row: 2 / 3;    
        justify-self: center;
        align-self: center;
        text-align: center;
        padding: 2rem;
    }

    .titleImageBox h1 {
        color: #eee;
        font-size: 3.5rem;
        font-weight: 300;
    }

    .baloonGray {
        grid-column: 1 / 13;
        grid-row: 1;
        justify-self: center;
    }

    .baloonPurple {
        grid-column: 1 / 13;
        grid-row: 3;
        justify-self: center;
    }
}

/* Estilos para telas pequenas */
@media (max-width: 992px) and (min-width: 768px) {
    .SectionBox {
        grid-column: 1 / 13;
        font-family: 'Roboto Condensed', sans-serif;
        height: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 3rem auto 3rem;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ), url('../../../assets/imgbanner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .titleImageBox {
        grid-column: 1 / 13;
        grid-row: 2 / 3;    
        justify-self: center;
        align-self: center;
        text-align: center;
        padding: 2rem;
    }

    .titleImageBox h1 {
        color: #eee;
        font-size: 3rem;
        font-weight: 300;
    }

    .baloonGray {
        grid-column: 1 / 13;
        grid-row: 1;
        justify-self: center;
    }

    .baloonPurple {
        grid-column: 1 / 13;
        grid-row: 3;
        justify-self: center;
    }
}

/* Estilos para tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) and (min-width: 576px) {
    .SectionBox {
        grid-column: 1 / 13;
        font-family: 'Roboto Condensed', sans-serif;
        height: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 3rem auto 3rem;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ), url('../../../assets/imgbanner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .titleImageBox {
        grid-column: 1 / 13;
        grid-row: 2 / 3;    
        justify-self: center;
        align-self: center;
        text-align: center;
        padding: 2rem;
    }

    .titleImageBox h1 {
        color: #eee;
        font-size: 2.5rem;
        font-weight: 300;
    }

    .baloonGray {
        grid-column: 1 / 13;
        grid-row: 1;
        justify-self: center;
    }

    .baloonPurple {
        grid-column: 1 / 13;
        grid-row: 3;
        justify-self: center;
    }
}

/* Estilos para smartphones pequenos */
@media (max-width: 576px) {
    .SectionBox {
        grid-column: 1 / 13;
        font-family: 'Roboto Condensed', sans-serif;
        height: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 3rem auto 3rem;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ), url('../../../assets/imgbanner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .titleImageBox {
        grid-column: 1 / 13;
        grid-row: 2 / 3;    
        justify-self: center;
        align-self: center;
        text-align: center;
        padding: 1rem;
    }

    .titleImageBox h1 {
        color: #eee;
        font-size: 3rem;
        font-weight: 300;
    }

    .baloonGray {
        grid-column: 1 / 13;
        grid-row: 1;
        justify-self: center;
    }

    .baloonPurple {
        grid-column: 1 / 13;
        grid-row: 3;
        justify-self: center;
    }
}

/* Estilos para telas extra pequenas */
@media (max-width: 320px) {
    .SectionBox {
        grid-column: 1 / 13;
        font-family: 'Roboto Condensed', sans-serif;
        height: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 3rem auto 3rem;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ), url('../../../assets/imgbanner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .titleImageBox {
        grid-column: 1 / 13;
        grid-row: 2 / 3;    
        justify-self: center;
        align-self: center;
        text-align: center;
        padding: 1rem;
    }

    .titleImageBox h1 {
        color: #eee;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .baloonGray {
        grid-column: 1 / 13;
        grid-row: 1;
        justify-self: center;
    }

    .baloonPurple {
        grid-column: 1 / 13;
        grid-row: 3;
        justify-self: center;
    }
}
